@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")
all;

body {
  font-family: "poppins", sans-serif;
}

.page-box i,
header i {
  font-size: 25px;
}
.page-box p {
  font-size: 12px;
}
footer nav a i {
  font-size: 20px !important;
}
footer nav a span {
  font-size: 10px !important;
}
footer nav .active {
  color: #2196f3;
}

/* loader settings */
/* Top loader bar styling */
#top-loader {
  width: 0%;
  transition: width 0.3s ease;
}

/* Animation for smooth loading */
@keyframes loading-bar {
  0% {
    width: 0;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}

/* Hidden by default */
.hidden {
  display: none;
}

